**/*.suo
**/bin/x64
**/bin/x86
**/obj/x64
**/obj/x86
3rd/HavokWrapper/**/*.pdb
3rd/SteamSDK/**/*.pdb
3rd/HavokWrapper/**/*.xml
3rd/**/*.pdb
**/*.suo
**/bin/
**/obj/
Sources/SpaceEngineers/Content/Shaders
*.metagen
3rd/**/*.exp
3rd/**/*.ilk
3rd/**/*.lib
*.csproj.user
3rd/**/VRage.Library.dll
3rd/**/VRage.Math.dll
3rd/**/VRage.Library.xml
3rd/**/VRage.Math.xml
Sources/SpaceEngineers/Content/Audio/
Sources/SpaceEngineers/Content/Fonts/*
Sources/SpaceEngineers/Content/Missions/
Sources/SpaceEngineers/Content/Models/
Sources/SpaceEngineers/Content/Textures/
Sources/SpaceEngineers/Content/Videos/
Sources/SpaceEngineers/Content/VoxelMaps/
Sources/SpaceEngineers/Content/Worlds/
Sources/SpaceEngineers/Content/AISchool/
Sources/SpaceEngineers/Content/Brains/
Sources/SpaceEngineers/Content/ShaderCache/
Sources/SpaceEngineers/Content/Particles/
user.props
3rd/RakNet/Help/
3rd/RakNet/Samples/
3rd/**/HavokWrapper.xml
3rd/RakNet/debug/x64
3rd/RakNet/release/x64
3rd/SteamSDK/debug/x64
3rd/SteamSDK/release/x64
3rd/VRage.Native/debug/x64
3rd/VRage.Native/release/x64
